html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    margin-bottom: 60px;
    color: #b3b3b3;
    background-color: #262626;
}

.table {
    color: white;
}

a {
    color: #4a9f66;
}