.chat_screen {
  height: 100vh;
  overflow: hidden !important;
}
.chat_area_wrapper {
  background-color: var(--bg_gray_sec_color);
  background-image: url("../../assets/images/chat_bg.png");
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.left_sidebar_wrapper {
  z-index: 2;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
.user_info_wrapper {
  display: flex;
  align-items: center;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg_gray_sec_color);
}
.user_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: 3px solid var(--bg_gray_sec_color);
  position: relative;
}
.user_avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 2;
  border-radius: 50%;
}
.user_avatar::after {
  content: "";
  position: absolute;
  right: -2px;
  bottom: -2px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--main_green_color);
  border: 3px solid var(--bg_gray_main_color);
  z-index: 3;
}
.user_name {
  display: flex;
  flex-direction: column;
}
.user_name p {
  text-transform: capitalize;
  font-weight: 500;
}
.user_name span {
  font-size: 10px;
  text-transform: capitalize;
}
.add_contact_btn {
  outline: none;
  border: 0;
  color: #fff;
  background-color: var(--main_green_color);
  width: 35px;
  height: 35px;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.contacts_list_label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
}
.logoutContainer {
  height: 8vh;
  background: #262626;
  border-top: 2px solid #4a9f66;
}
.logoutContainer p {
  width: fit-content;
  cursor: pointer;
}
